.chart {
    display: flex;
    flex-direction: column;
    gap: 15px;
    // c'est l'equivalent de width mais avec le flex c'est responsive
    flex: 3;
    padding: 10px;
    color: gray;
    .chart-grid {
        stroke: #e3e9ec;
    }
}