.widget-card {
    display: flex;
    //je mets leflex1 c'est mieux que de donner le width à chaque card
    //flex: 1;
    width: 250px;
    //le min-width est mieux comme y'a overflow-x: ;
    padding: 8px;
    justify-content: space-between;
    height: 100px;
    transition: .3;
    -webkit-transition: .3;
    -moz-transition: .3;
    -ms-transition: .3;
    -o-transition: .3;
    .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
        .title {
            font-size: 14px;
            font-weight: bold;
            color: rgb(202, 194, 194);
            //text-transform: uppercase;
        }
        .count-title {
            font-size: 20px;
            font-weight: bold;
        }
        .link {
            font-size: 12px;
            width: max-content;
            cursor: pointer;
            border-bottom: 1px solid gray;
            &:hover {
                color: #6366f1;
                border-bottom-color: #6366f1;
            }
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        .percentage {
            display: flex;
            align-items: center;
            font-size: 14px;
            //equivalent de .percentage.positive
            &.positive {
                color: green;
            }
            &.negative {
                color: red;
            }
        }
        .right-icon {
            display: flex;
            align-items: center;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }
        .icon {}
    }
}