.cellImg {
    display: flex;
    gap: 12px;
    .imgCell {
        height: 24px;
        width: 24px;
    }
}

.icon-status {
    display: flex;
    gap: 2px;
    .edit-icon {
        color: #fbbf24;
    }
    .delete-icon {
        color: #dc2626;
    }
}

.status {
    padding: 4px;
    color: #fff;
    text-align: center;
    &.active {
        background-color: #4ade80;
    }
    &.pending {
        background-color: #facc15;
    }
    &.passive {
        background-color: #f87171;
    }
}

.cell-action {
    display: flex;
    align-items: center;
    gap: 5px;
    span {
        padding: 2px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .eye-span {
        border: 1px solid #2563eb;
        .view-cell {
            color: #2563eb;
            cursor: pointer;
        }
    }
    .delete-span {
        border: 1px solid #dc2626;
        .delete-cell {
            color: #dc2626;
            cursor: pointer;
        }
    }
}